/* app css stylesheet */
*{
  box-sizing: border-box;
}
ul{
  margin: 0;
  padding:0;
}
ul li{
  list-style: none;
}

.wrapper{
  border: 1px solid #666;
  width: 80%;
  margin: 0 auto;
}

.header{
  border-bottom: 1px solid #666;
}

.main-container{
  display: -webkit-flex;
  flex-direction: row;
}

.flight-results{
  flex: 1 75%;
}

.sidebar{
  border-right: 1px solid #666;
  flex: 1 25%;
}

.footer{
  border-top: 1px solid #666;
}

.header, .footer, .sidebar, .flight-results{
  padding: 15px;
}

/* FLight List */
.flight-list > li{
  border-bottom: 1px solid #ccc;
}
.schedule-container{
  display:  flex;
  flex-direction: column;
  font-size: 18px;
}
.schedule-container .flight-code{
  font-size: 12px;
}
.schedule-container .flight-book a{
  height: 100px;
}

.header-row, .onward, .return{
  display: flex;
}

.header-row > li, .onward > li, .return > li{
  display: flex;
  align-items: center;
  flex: 1 100px;
  justify-content: center;
  font-size: 12px;
  margin: 10px;
}

.onward, .return{
  flex: 1 100%;
}

.flight-results-panel{
  display: flex;
}

.flight-results-panel .onward-flight-results, .flight-results-panel .return-flight-results{
  flex:1 50%;
}

.flight-results-panel .onward-flight-results{
  margin-right: 20px;
}

.well{
  background-color: 
}

